<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="incineroar" href="https://www.vhv.rs/dpng/d/500-5004868_incineroar-pokedex-png-download-pokemon-incineroar-transparent-png.png" type="incineroar">
    <title>CADASTRO</title>
</head>
<body>
    <nav class="navbar navbar-center navbar">
    <div>
        <div>
            <a class="floatLeft" href="/">INICIO</a>
        </div>
    </div>
    <h1 class="cad">Bem Vindo a Melhor Pokedéx</h1>
    </nav>
    <section id="inscrever"> 
        <form id="format" action="/new" method="POST">
            <div>
                <label for="nome">Numero</label>
                <input type="text" name="numero" id="input_Numero" placeholder="Digite o Numero do Pokemon" required>
            </div>
            <div>
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="input_Nome" placeholder="Digite o Nome do Pokemon" required>
            </div>
            <div>
                <label for="nome">Tipo</label>
                <input type="text" name="tipo" id="input_Tipo" placeholder="Digite o Tipo do Pokemon" required>
            </div>
            <div>
                <label for="nome">Imagem</label>
                <input type="text" name="imagem" id="input_Imagem" placeholder="Cole o link da Imagem do Pokemon" required>
            </div>
            <div>
                <label for="nome">Descrição</label>
                <input type="text" name="descrição" id="input_Descrição" placeholder="Digite a Descrição do Pokemon" required>
            </div>
            <div>
                <label for="nome">Altura</label>
                <input type="text" name="altura" id="input_Altura" placeholder="Digite a Altura do Pokemon" required>
            </div>
            <div>
                <label for="nome">Peso</label>
                <input type="text" name="peso" id="input_Peso" placeholder="Digite o Peso do Pokemon" required>
            </div>
            <div>
                <label for="nome">Categoria</label>
                <input type="text" name="categoria" id="input_Categoria" placeholder="Digite a Categoria do Pokemon" required>
            </div>
            <div>
                <label for="nome">Habilidade</label>
                <input type="text" name="habilidade" id="input_Habilidade" placeholder="Digite a Habilidade do Pokemon" required>
            </div>
            <div>
                <button type="submit" onclick="cadastrado()"> CADASTRAR</button>
            </div>
        
        </form>

    </section>
</body>
</html>