<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>POKEDÉX</title>
</head>
<body>
    <nav class="navbar navbar-center navbar">
        <div>
            <div>
                <a class="floatLeft" href="/">INICIO</a>
            </div>
            <div>
                <a class="floatLeft" href="/cadastro">CADASTRO</a>
            </div>
        </div>
    </nav> 
    <main class="index">
        <% pokedex.forEach(pokedex => { %>
            <section class="wrapper">
                <article class="card_content">
                    <img class="img" src=<%= pokedex.Imagem %>><br>
                   
                </article>
                <h2 class="desc">NOME:</h2> 
                <p class="nome"><br> <%= pokedex.Nome %></p>
                <h2 class="desc"><br>TIPO:</h2> 
                <p class="nome"><br> <%= pokedex.Tipo %></p>
            </section>
            <%})%>
    </main>
<script src="/js/script.js"></script>   
</body>
</html>