@import url(https://www.vhv.rs/dpng/d/500-5004868_incineroar-pokedex-png-download-pokemon-incineroar-transparent-png.png);

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  .navbar{
    color: blue;
    padding-top:5px !important; 
    padding-bottom:5px !important;
    height: 60px !important;
    margin-bottom: 100px;
    text-align: center;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvb0QTuTaULz55Kb-Q9jWDg9NKkR9QtQiohw&usqp=CAU);
    background-size: cover;
  }
  .navbar h1{
    font-family: Pokemon;  
    font-size: 35px;
    text-shadow: 
        -1px -1px 0px rgb(0, 0, 0), 
        -1px 1px 0px rgb(0, 0, 0),                    
        1px -1px 0px rgb(0, 0, 0),                  
        1px 0px 0px rgb(0, 0, 0);
  }

  section#inscrever form div input {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
}  

section#inscrever {
    color: rgb(19, 19, 16);
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 0, 21);
    margin: 0 20rem 10rem 20rem;
    box-shadow: 0 0 1rem #00000060;
    border-radius: 1rem;
}

.home{
    text-align: center;
}
    .floatLeft {
        height: 40px;
        margin-left: 10px;
        margin-right: 0;
        float: left;
        vertical-align: middle;
        background: #df7c4f;
        color: white;
        text-decoration: none;
        text-align: center;
        border-radius: 28px;
        padding: 15px 15px 32px 15px;
        border: 2px solid #000;
    }

h1.cad{
    color: rgb(255, 0, 21);
}

section#inscrever form button {
    border: 1px solid #3359ec;
    background-color: #fff;
    color: #3359ec;
    padding: 1rem;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
    width: 40%;
}

body{
    background: url(https://img.freepik.com/fotos-gratis/fundo-vermelho-grunge_1048-8960.jpg?size=626&ext=jpg);
    background-size: cover;
}
  .card_content{
    display: flex;
    justify-content: center;
  }
  .nome{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
  }
  .desc{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(14, 13, 13); text-shadow: rgb(248, 242, 242) 0.1em 0.1em 0.2em
  }

  section#message {
    padding: 1.5rem;
    background-color: rgb(197, 255, 214);
    color: #004d04;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
  }
  
  span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
  }